{% extends 'frontend/base.html' %}
{% block title %} Place {% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-3">Place</h1>
    <p class="lead">10 สถานที่ท่องเที่ยวยอดฮิตที่พลาดไม่ได้ในประเทศไทย</p>
    <hr class="my-2">
    <p>
        <br>น้ำตกทีลอซู จ.ตาก</br>   
        <br>ภูลังกา จ.พะเยา</br>
        <br>สระขุนน้ำมรกต จ.เชียงราย</br>
        <br>บ้านอีต่อง เหมืองปิล็อค จ.กาญจนบุรี</br>
        <br>เกาะร้านเป็ด เกาะร้านไก่ จ.ชุมพร</br>
        <br>พญาเต่างอย จ.สกลนคร</br>
        <br>Hinoki Land จ.เชียงใหม่</br>
        <br>เกาะขาม จ.ชลบุรี</br>
        <br>ตลาดน้ำกวางโจว จ.เพชรบุรี</br>
        <br>วัดไชยวัฒนาราม จ.พระนครศรีอยุธยา</br>
        <br>Credit : <a href="https://vtreviewpanel.org/10-อันดับน่าเที่ยว2020/">https://vtreviewpanel.org/10-อันดับน่าเที่ยว2020/</a></br>    
    </p>
</div>
{% endblock %}